html {
  background-color: deepskyblue;
  font-family: georgia, cursive, serif;
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

#navigation {
  width: 105%;
  height: 60px;
  background-color: floralwhite;
  padding-top: 10px
}

/**/
div#navigation li {
  list-style: none;
  display: inline;
  margin-right: 300px
}

#navigation li a{
  text-decoration: none;
  color: deepskyblue;
  font-size: 20px;
}

.btn {
  width: 120px;
  height: 70px;
  background-color: aliceblue;
  border: 2px solid aliceblue;
}
