html {
  background-color: deepskyblue;
  font-family: georgia, cursive, serif;
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

#navigation {
  width: 105%;
  height: 60px;
  background-color: #d3d9de;
  padding-top: 10px;
}

/**/
div#navigation li {
  list-style: none;
  display: inline;
  margin-right: 300px
}

#navigation li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 15px;
}

.btn {
  width: 125px;
  height: 70px;
  background-color: deepskyblue;
  border: 4px solid deepskyblue;
}

.profile {
  width: 400px;
}
.border-box {
  border-width: small;
  border-color: deepskyblue;
  border-style: solid;
  background-color: white;
  border-radius: 30px;
}

.pad-50 {
  padding: 20px;
}
